[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = { version = "*", extras = ["email"] }
python-magic-bin = "0.4.14"
python-multipart = "*"
mutagen = "*"

[dev-packages]

[requires]
python_version = "3.11"

